<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
<link href="/css/globalstyle.css" rel="stylesheet"/>

</head>
<body>
	<div th:insert="fragments/body :: HolaPeivand">
	</div>
	
	<div class="container" style="background-color: skyblue;">
		<div class="panel-body">
			<h3>Ejemplo Spring Boot</h3>
			<h4>Ocupando Spring Boot, MySQL, Ajax, THYMELEAF</h4>
			<h6><strong>Vista</strong>Bootrstap - JQuery - Thymeleaf</h6>
			<h6><strong>Controlador</strong>SpringBoot Servlet</h6>
			<h6><strong>Modelo</strong>DAO/DTO - JDBC Template</h6>
			
		</div>
	
	</div>
	

<div th:insert="fragments/footer :: footer">
</div>

<!--Por tema de performance se cargan los script al final de la página para que se cargue la página primero -->
	<script src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>