<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<head>
<meta charset="UTF-8">
<title>User Created</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
<link href="/css/bootstrap-table.min.css" rel="stylesheet" th:href="@{/css/bootstrap-table.min.css}"/>
<link href="/css/globalstyle.css" rel="stylesheet" th:href="@{/css/globalstyle.css}"/>
<script src="/js/jquery-3.4.1.js" th:href="@{/js/jquery-3.4.1.js}"></script>


</head>
<body>
<h1>User has been created</h1>
//ver forma de cómo obtener el dato//


	


<!--Por tema de performance se cargan los script al final de la página para que se cargue la página primero -->
<script type="text/javascript" src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<script type="text/javascript" src="/js/bootstrap-table.min.js" th:href="@{/js/bootstrap-table.min.js}"></script>
</body>
</html>