<!DOCTYPE html>
<html lang="en" 
xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

<meta charset="UTF-8">
<meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>

<title>Sales</title>
<link href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
<link href="/css/bootstrap-table.min.css" rel="stylesheet" th:href="@{/css/bootstrap-table.min.css}"/>
<link href="/css/globalstyle.css" rel="stylesheet" th:href="@{/css/globalstyle.css}"/>
<script src="/js/jquery-3.4.1.js" th:href="@{/js/jquery-3.4.1.js}"></script>
<script src="/js/sales.js" th:href="@{/js/sales.js}"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<div th:replace="fragments/header :: header">&n</div>
	<div class="container">
		<div class="panel panel-default" id="panel1">
			<div class="panel-body">
				<h3>Sales Managment</h3>	
				<p>
				<div class="btn-group">
					<button type="button" class="btn btn-primary btn-sml" onclick="javascript:SalesController('list')">List</button>
					<button type="button" class="btn btn-primary btn-sml" onclick="javascript:SalesController('get')">Select one</button>
					<button type="button" class="btn btn-primary btn-sml" onclick="javascript:SalesController('insert')">New Sale</button>
					<button type="button" class="btn btn-primary btn-sml" onclick="javascript:SalesController('update')">Modify Sale</button>
					<button type="button" class="btn btn-primary btn-sml" onclick="javascript:SalesController('delete')">Delete Sale</button>
					
				</div>
				<p>
				<div class="alert alert-danger" id="msg" hidden="true">
				</div>
				<p>
				<div class="input-group">
					<span class="input-group-addon">ID</span>
					<input type="number" class="form-control" id="id" >
				</div>
				<div class="input-group">
					<span class="input-group-addon">Item</span>
					<input type="text" class="form-control" id="item" >
				</div>
				<div class="input-group">
					<span class="input-group-addon">Quantity</span>
					<input type="number" class="form-control" id="quantity" >
				</div>
					<div class="input-group">
					<span class="input-group-addon">Price</span>
					<input type="number" class="form-control" id="price" placeholder="0.00" >
				</div>
					<div class="input-group">
					<span class="input-group-addon">Sale Date</span>
					<input type="date" class="form-control" id="sale_date" >
				</div>
			</div>
		</div>
	
	</div>


	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">Close</button>
					<h4 class="modal-title">Sales List</h4>
				</div>
				<div class="modal-body">
					<div class="table-responsive" style='height:100%' id='tableDivContainer'>
						<table class="table table-condensed" id='salesTable' data-toggle="table" data-height="299">
							<thead><tr>
							
								<th data-field="id">ID</th>
								<th data-field="item">Item</th>
								<th data-field="quantity">Quantity</th>
								<th data-field="price">Price</th>
								<th data-field="sale_date">Sale Date</th>
							</tr>
							</thead>
						</table>
					</div>
				</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>	
					</div>
			</div>
		</div>
	</div>


	<script type="text/javascript" src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
	<script type="text/javascript" src="/js/bootstrap-table.min.js" th:href="@{/js/bootstrap-table.min.js}"></script>
</body>
</html>